:root.theme-dark {
  --accent-color: #ff0070;
  --section-desciption-color: #f1b2ce;  
  --title-decor-color: #db00ff;
  --cover-desciption-text-color: #000028;
  --section-subtitles-color: #000028;
}

/* Остальные стили */ 

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
