:root.theme-light {
  --accent-color: #ff8dcb;
  --cover-title-shadow-color: #ff0070;
  --header-menu-color: #353430;
  --section-desciption-color: #353430;
  --section-title-color: #353430;
  --title-decor-color: #ffc2e6;
  --cover-desciption-text-color: #353430;
  --section-subtitles-color: #353430;
  --links-hover-color: rgba(50, 49, 45, 0.4);
  --links-color: #353430;
  --header-menu-focus-visible-color: #353430;
  --header-menu-active-color: #353430;
  --link-shadow-color: #FF8DCB;
  --brackets-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  .page {
    --accent-color: #ff8dcb;
    --cover-title-shadow-color: #ff0070;
    --header-menu-color: #353430;
    --section-desciption-color: #353430;
    --section-title-color: #353430;
    --title-decor-color: #ffc2e6;
    --cover-desciption-text-color: #353430;
    --section-subtitles-color: #353430;
    --links-hover-color: rgba(50, 49, 45, 0.4);
    --links-color: #353430;
    --header-menu-focus-visible-color: #353430;
    --header-menu-active-color: #353430;
    --link-shadow-color: #FF8DCB;
    --brackets-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
  }
}

.page.theme_light {
  --accent-color: #ff8dcb;
  --cover-title-shadow-color: #ff0070;
  --header-menu-color: #353430;
  --section-desciption-color: #353430;
  --section-title-color: #353430;
  --title-decor-color: #ffc2e6;
  --cover-desciption-text-color: #353430;
  --section-subtitles-color: #353430;
  --links-hover-color: rgba(50, 49, 45, 0.4);
  --links-color: #353430;
  --header-menu-focus-visible-color: #353430;
  --header-menu-active-color: #353430;
  --link-shadow-color: #FF8DCB;
  --brackets-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  
  .rec {
    display: none;
  }
}
